<section class="heroSection">
    <!-- Navigation -->
    <nav>
        <article>
            <a href="/">HOME</a>
            <a href="/team">TEAM</a>
            <a href="/booking">BOOKING</a>
            <a href="/menue">MENUE</a>
        </article>
        <img src="/images/Vector.png" alt="company logo">
        <article>
            <a href="/galerie">GALERIE</a>
            <a href="/events">EVENTS</a>
            <a href="/contact">CONTACT</a>
            <a href="/feedback">FEEDBACK</a>
        </article>
    </nav>
    <!-- Hero Area -->
    <article>
        <p>Mon - Fri: 8PM - 10PM, Sat - Sun: 8PM - 3AM</p>
        <div>
            <p>RESTAURANT</p>
            <h1>HUNGRY PEOPLE</h1>
            <div>
                <img src="/images/underline.png" alt="line">
            </div>
            <button><a href="#">BOOK TABLE</a></button>
            <button><a href="#">EXPLORE</a></button>
            <div>
                <img src="/images/down.png" alt="arrow down">
            </div>
        </div>
        <div>
            <p class='circle'><i class="fab fa-facebook-f"></i>
            </p>
            <p class="circle">
                <i class="fab fa-twitter"></i>
            </p>
            <p class="circle">
                <i class="fab fa-instagram"></i>
            </p>
        </div>
    </article>
</section>