<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/sass/main.css">
</head>

<body>
    <%- include('../partials/header.ejs') %>
    <main class="contactMain">
        <h2>CONTACT</h2>
        <img src="/images/underline.png" alt="underline">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas consequatur dolores fugiat delectus
            nostrum.
        </p>
        <form action="/contact" method="POST" enctype="application/x-www-form-urlencoded">
            <article>
                <input type="text" name="name" id="name" placeholder="your name">
                </article>
            <article>
                <input type="email" name="email" id="email" placeholder="your Email">
            </article>
            <textarea rows="5" cols="50" name="message" id="message">Your message</textarea>
            <article>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <input class="submit" type="submit" value="SEND MESSAGE">
            </article>
        </form>
    </main>
        <footer>
            <%- include('../partials/footer.ejs') %>

        </footer>
        <script src="https://kit.fontawesome.com/c63e956a50.js" crossorigin="anonymous"></script>
</body>

</html>