<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>

    <!-- Main -->
    <main class="eventsMain">
        <!-- Galerie Intro -->
        <p>SPECIALTIES</p>
        <section>
            <img src="/images/wedding.png" alt="event image">
        </section>
        <section>
            <img src="/images/wedding2.png" alt="event image">
        </section>
        <p>Mon - Fri: 8PM - 10PM, Sat - Sun: 8PM - 3AM</p>
    </main>
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
    <script src="https://kit.fontawesome.com/c63e956a50.js" crossorigin="anonymous"></script>
</body>

</html>