<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <link rel="stylesheet" href="/sass/main.css">
</head>

<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>

    <!-- Main -->
    <main class="aboutMain">
        <!-- Galerie Intro -->
        <section>
            <img src="/images/wedding.png" alt="event image">
        </section>
        <section class="sectionOne">
            <h2>Your Events</h2>
            <img src="/images/underline.png" alt="underline">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, quos?</p>
            <div><a href="/contact" class="btnTouch">GET IN TOUCH</a></div>
         </section>
        <section>
            <img src="/images/wedding2.png" alt="event image">
        </section>
    </main>
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
    <script src="https://kit.fontawesome.com/c63e956a50.js" crossorigin="anonymous"></script>
</body>

</html>