<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feddback</title>
    <link rel="stylesheet" href="/sass/main.css">
</head>

<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>
    <!-- Main -->
    <main class="bookingMain">
        <!-- Feedback Form -->
        <p class="rotate">Mon - Fri: 8PM - 10PM, Sat - Sun: 8PM - 3AM</p>

        <section class="sectionBooking">
            <h2>YOUR FEEDBACK</h2>
            <img src="/images/underline.png" alt="underline">

            <form action="/feedback" method="POST" enctype="application/x-www-form-urlencoded">
                <article>
                    <input type="text" name="feedbackName" id="feedbackName" placeholder="Name">
                    <select name="feedbackStars" id="feedbackStars" placeholder="Stars">
                        <option value="one">1</option>
                        <option value="two">2</option>
                        <option value="three">3</option>
                        <option value="four">4</option>
                        <option value="five">5</option>
                    </select>
                </article>
                <article>
                    <textarea row="5" cols="63" name="feedbackMessage" id="feedbackMessage" placeholder="Your Message">Your Feedback</textarea>
                </article>
                <article>
                    <input class="submit" type="submit" value="SEND NOW">
                </article>
            </form>
        </section>
        <section>
            <img src="/images/feedback.png" alt="fireplace">
        </section>
    </main>
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
    <script src="https://kit.fontawesome.com/c63e956a50.js" crossorigin="anonymous"></script>
</body>

</html>