<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/sass/main.css">
</head>

<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>

    <main class="aboutMain">
        <!-- Restaurant Intro -->
        <section class="sectionOne">
            <h2>About Us</h2>
            <img src="/images/underline.png" alt="underline">
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a,
                tempor
                magna.</h3>
            <p>Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula.
                Sed
                dictum, enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem.
                Mauris
                tincidunt feugiat diam convallis pharetra. Nulla facilisis semper laoreet.</p>
        </section>
        <section>
            <img src="/images/fireplace.png" alt="fireplace">
        </section>
        <div class="yellowsquare">
            
        </div>
    </main>
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>

    <script src="https://kit.fontawesome.com/c63e956a50.js" crossorigin="anonymous"></script>
</body>

</html>