<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menue</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header>
        <%- include('../partials/header.ejs') %>
    </header>

    <main class="menuMain">
        <!-- Menu Intro -->
        <section class="menuText">
            <h2>DELICOUS MENU</h2>
            <img src="/images/underline.png" alt="underline">
            <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor
                magna.</h3>
        </section>
        <!-- Dish Selection -->
        <section class="menuButtons">
            <a href="#">SOUPE</a>
            <a href="#">PIZZA</a>
            <a href="#">PASTA</a>
            <a href="#">DESERT</a>
            <a href="#">WINE</a>
            <a href="#">BEER</a>
            <a href="#">DRINKS</a>
        </section>
        <section class="menuDishes">
            <!-- Dishes -->
            <article>
                <div>
                    <div>
                        <h4>PIZZA QUATRO STAGIONI</h4>
                        <h4>55.66$</h4>
                    </div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div>
                    <div>
                        <h4>PIZZA QUATRO STAGIONI</h4>
                        <h4>55.66$</h4>
                    </div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div>
                    <div>
                        <h4>PIZZA QUATRO STAGIONI</h4>
                        <h4>55.66$</h4>
                    </div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div>
                    <div>
                        <h4>PIZZA QUATRO STAGIONI</h4>
                        <h4>55.66$</h4>
                    </div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div>
                    <div>
                        <h4>PIZZA QUATRO STAGIONI</h4>
                        <h4>55.66$</h4>
                    </div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div>
                    <div>
                        <h4>PIZZA QUATRO STAGIONI</h4>
                        <h4>55.66$</h4>
                    </div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div>
                    <div>
                        <h4>PIZZA QUATRO STAGIONI</h4>
                        <h4>55.66$</h4>
                    </div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div>
                    <div>
                        <h4>PIZZA QUATRO STAGIONI</h4>
                        <h4>55.66$</h4>
                    </div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </article>
            <article>
                <div>
                    <div>
                        <h4>PIZZA QUATRO STAGIONI</h4>
                        <h4>55.66$</h4>
                    </div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div>
                    <div>
                        <h4>PIZZA QUATRO STAGIONI</h4>
                        <h4>55.66$</h4>
                    </div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div>
                    <div>
                        <h4>PIZZA QUATRO STAGIONI</h4>
                        <h4>55.66$</h4>
                    </div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div>
                    <div>
                        <h4>PIZZA QUATRO STAGIONI</h4>
                        <h4>55.66$</h4>
                    </div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div>
                    <div>
                        <h4>PIZZA QUATRO STAGIONI</h4>
                        <h4>55.66$</h4>
                    </div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div>
                    <div>
                        <h4>PIZZA QUATRO STAGIONI</h4>
                        <h4>55.66$</h4>
                    </div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div>
                    <div>
                        <h4>PIZZA QUATRO STAGIONI</h4>
                        <h4>55.66$</h4>
                    </div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div>
                    <div>
                        <h4>PIZZA QUATRO STAGIONI</h4>
                        <h4>55.66$</h4>
                    </div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </article>
            <article>
                <div>
                    <div>
                        <h4>PIZZA QUATRO STAGIONI</h4>
                        <h4>55.66$</h4>
                    </div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div>
                    <div>
                        <h4>PIZZA QUATRO STAGIONI</h4>
                        <h4>55.66$</h4>
                    </div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div>
                    <div>
                        <h4>PIZZA QUATRO STAGIONI</h4>
                        <h4>55.66$</h4>
                    </div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div>
                    <div>
                        <h4>PIZZA QUATRO STAGIONI</h4>
                        <h4>55.66$</h4>
                    </div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div>
                    <div>
                        <h4>PIZZA QUATRO STAGIONI</h4>
                        <h4>55.66$</h4>
                    </div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div>
                    <div>
                        <h4>PIZZA QUATRO STAGIONI</h4>
                        <h4>55.66$</h4>
                    </div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div>
                    <div>
                        <h4>PIZZA QUATRO STAGIONI</h4>
                        <h4>55.66$</h4>
                    </div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div>
                    <div>
                        <h4>PIZZA QUATRO STAGIONI</h4>
                        <h4>55.66$</h4>
                    </div>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <%- include('../partials/footer.ejs') %>
    </footer>
    <script src="https://kit.fontawesome.com/c63e956a50.js" crossorigin="anonymous"></script>
</body>

</html>